body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  background: black;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.checkout {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  margin-top: 40px;
}